<h1>Home</h1>

<p>
    <%= ejsHomeStartingContent %>
</p>


<% ejsPosts.forEach(function(item) { %>
    <h1>
        <%= item.title %>
    </h1>
    <p>
        <%= item.content.substring(0,100) + " ..." %>
            <a href="posts/<%= item._id %>" class="link-primary">Read more</a>
    </p>

    <% }) %>